# Ignore Python cache and compiled files for security and cleanliness
__pycache__/
*.pyc

# Ignore log files to protect sensitive information
modules/logs/
#ignores all .log files
*.log 
#ignors logs in any subdirectory 
**/*.log